
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


# Nunca subir archivos example
*_example*
*example(LOCAL)*
*example(PREyPRO)*
*example(PRE)*
*example(PRO)*
/src/main/resources/application_example(LOCAL).properties
/src/main/resources/application_example(PRE).properties
/src/main/resources/application_example(PRO).properties

# No subir archivo de configuracion
# /src/main/resources/application.properties
/Makefile
/Dockerfile
/docker-compose.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignorar archivos compilados
*.class
/target/
/generated/
/src/**/wsdl/generated/

# Archivos accidentales / basura
systemctl*
*status*
[Help
Running

# Logs
*.log
