
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


# Nunca subir archivos example
*_example*
*example(LOCAL)*
*example(PREyPRO)*
**/application.properties.example
**/application_example(LOCAL).properties
**/application_example(PRE).properties
**/application_example(PRO).properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignorar archivos compilados
*.class
/target/
/generated/
/src/**/wsdl/generated/
# Ignorar archivos de configuracion de docker
makefile
# Ignorar archivos de configuracion de maven

# Archivos accidentales / basura
systemctl*
*status*
[Help
Running
